body {
 

  
  background-color: rgba(5, 1, 82, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*Optional: Set minimum height for full viewport*/


}

.box {
  display: flex;
  background-color: #c7eaf7; /* Light background color */
  border: 2px solid rgb(7, 0, 101); /*Add a blue border*/
  margin: 4px auto; /* Center the box */
  width: 150px; /* Set the width */
  height: 150px; /* Set the height*/
}

